.bundle
db/*.sqlite3
db/mongo
log/*.log
tmp/
.sass-cache/
*.tmproj
/config/database.yml
/vendor/bundle
.idea
*.iml
*.ipr
db/schema.rb
public/system
.DS_Store
/db/sphinx
public/assets/
*.swp
tags
/non-public
.powenv
.rails_footnotes

bem-bl
pages/*/*.css
pages/*/*.js
!pages/*/*.bemjson.js
pages/*/*.html